.trabalho {
    margin-left: 30px;
    margin-bottom: 70px;

}
body {
    background-image: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190623/ourmid/pngtree-black-business-atmosphere-business-card-background-image_243092.jpg);
}

.menu {
    color: blue;
    text-align: center;
}

.Nome {
    margin-left: 37px;
    margin-top: 175px;
    margin-bottom: 70px;
}

p {
    color: white;
    margin-left: 30px;
}

.foto {
    width: 300px;
}

.agrado {
    text-align: center;
}
.meu {
    margin-top: 70px;
}