h1, h3 {
    text-align: center;
    color: black;
}

.horario :hover {
    color:blue
}

.menu {
    background-color: #1e1e1e;
    color: white;
    width: 80%;
    font-size: 30px;
    margin-left:  auto;
    margin-right: auto;
    padding: 80px;
   

}

hr {
    color: white;
    margin-left: auto;
    
}

body {
    background-image:url(https://img.freepik.com/vetores-premium/ferramentas-sem-costura-de-barbeiro_236756-20.jpg)
}

ul :hover {
     background-color: rgb(146, 146, 146);
     cursor: pointer;

}

.barra {
    background-color: white;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 80px;
    padding-bottom: 100px;
    margin-bottom: 10px;
    
}
nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
  }
nav > ul > li {
    color: rgb(0, 0, 0);
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
    font-size: 35px;
}
li > a{
    color: inherit;
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Afacad Flux", sans-serif;
  }

.nav-itens {
    display: flex;
    list-style: none;
    text-align: center;
}
.nav-itens > li {
    padding-left: 30px;
}

.logo {
    font-weight: 900;
    font-size: 60px;
    align-items: center;
}

h2, h3 {
    text-align: center;
    color: white;
}

.top {
    margin-top: 90px;
}

.lista {
    margin-top: 90px;
}

.horario {
    margin-top: 90px;
}

.logo2 {
    width: 5%;
    align-items: center;
}